<!-- <div class="col col-sm-8 col-md-3 text-right ml-auto"> -->
<div class="ml-5 mt-3 mb-5">
    <button type="button" class="btn btn-outline-success" routerLink="/employee">
        <i class="bi bi-arrow-left-circle"></i> Back </button>
</div>


<div class="card-body" *ngIf="item">
    <h5 class="card-title">{{item.name}}</h5>
    <!-- <a [routerLink]="['/singleEmployee', item._id]">{{item.name}}</a> -->
    <h6 class="card-subtitle mb-2 text-muted">{{item.position}}</h6>
    <span class="badge " [ngClass]="{'badge-success': item.dept == 'Design',
    'badge-danger': item.dept =='Development',
    'badge-secondary': item.dept =='HR',
    'badge-primary': item.dept =='Sales',
    'badge-light': item.dept =='Production',
    'badge-dark': item.dept =='Support'}">{{item.dept}}</span>
</div>